<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="vegan.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css">
</head>

<body>
    <header id="head">
        <div id="img">
            <img src="Vegan/images/logo1.jpg" alt="" width="40px">
        </div>
        <div id="main">
            <ul>
                <li class="cls"><a href="">Demo Pages</a></li>
                <li class="cls"><a href="">Watch Video</a></li>
                <div class="cls"><a href="">Blocks</a></div>
                <li class="cls"><a id="buy" href="">Buy Now</a></li>
            </ul>
        </div>
    </header>
    <div id="bg">
        <div id="sub">
            <h1>Vegan Store Simple Website Template</h1>
            <p>With nutrition, all the vital functions of the body are connected. It is the source of the development of
                tissues and cells, their constant renewal, the saturation of man with energy.</p>
        </div>
    </div>
    <div id="icon">
        <div id="firststep" class="icon">
            <i class="fa-solid fa-scissors"></i>
            <h3>Step 01.</h3>
            <p>Vegetables are an integral part of the human diet. They are extremely useful because of the high content
                of carbohydrates, various acids, vitamins and active elements in the form, easy for digestion.</p>

        </div>
        <div id="secondstep" class="icon">
            <i class="fa-solid fa-paintbrush"></i>
            <h3>Step 02.</h3>
            <p>Fresh tomatoes are ideal for replenishing the loss of minerals. These vegetables contain a lot of acids
                that our body needs for full-fledged work.</p>

        </div>
        <div id="thirdstep" class="icon">
            <i class="fa-solid fa-bag-shopping"></i>
            <h3>Step 03.</h3>
            <p>In the content of vitamin C, sweet peppers are superior to lemons and even black currants! The greatest
                amount of vitamin is contained around the stalk, that is, in the part of the product that is usually cut
                during cleaning.</p>

        </div>
        <div id="fourthstep" class="icon">
            <i class="fa-solid fa-face-smile"></i>
            <h3>Step 04.</h3>
            <p>If you sometimes eat hot chili peppers, this will help normalize cerebral circulation, ease the condition
                with bronchial asthma, cough, sore throat, flu.</p>
        </div>
    </div>
    <section id="sec">
        <div id="main2">
            <p id="fresh">Fresh Food</p>
            <h3 id="store">Our Vegan Store!</h3>
            <p id="radish">Radish contains a lot of fiber, pectin and mineral salts.</p>
        </div>
        <div id="main3">
            <div class="item">
                <div class="storeitem">
                    <i class="fa-solid fa-camera"></i>
                </div>
                <h3>Fresh Vegetables</h3>
                <p>Use for cooking several types of vegetable oil.</p>
            </div>
            <div class="item">
                <div class="storeitem">
                    <i class="fa-solid fa-rocket"></i>
                </div>
                <h3>High Quality</h3>
                <p>This is the best source of essential fatty acids for the body.</p>
            </div>
            <div class="item">
                <div class="storeitem">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <h3>Sale</h3>
                <p>It is very good, if in the kitchen there will always be several bottles with different oils.</p>
            </div>
            <div class="item">
                <div class="storeitem">
                    <i class="fa-brands fa-weixin"></i>
                </div>
                <h3>Best Price</h3>
                <p>Remember that unrefined oils are not suitable for heat treatment.</p>
            </div>
        </div>
    </section>

    <section id="mid">
        <p id="mid1">Fresh Food</p>
        <h3>Our Vegan Shop!</h3>
        <p id="desc">According to experts, any habit can be formed in 21 days. The same statement applies to healthy
            eating.
        </p>
        <div id="veg">
            <div class="veg1">
                <img src="Vegan/images/face5.jpg" alt="">
                <p class="mess">Sales consultants are very polite. Many of the products have tried and are ready to
                    prompt and
                    recommend to customers. The staff shows that they completely share the philosophy of proper
                    nutrition, if you can
                    say so.</p>
                <h3>VERONICA KING</h3>
                <p class="name">Cook</p>
            </div>
            <div class="veg1">
                <img src="Vegan/images/face6.jpg" alt="">
                <p class="mess">The assortment is very wide. From useful organic oils, cereals and teas to specific
                    products for vegetarians,such as sausages and pies without meat.</p>
                <h3>JIM CASH</h3>
                <p class="name">Seller</p>
            </div>
            <div class="veg1">
                <img src="Vegan/images/face7.jpg" alt="">
                <p class="mess">I want to say a huge thank you to the management of the store and all its employees, I'm
                    not a
                    vegetarian, it would seem that the store is not for me, but it's not so, any person who comes here
                    will find something useful.</p>
                <h3>PETER GOODMAN</h3>
                <p class="name">Manager</p>
            </div>
        </div>
    </section>

    <section id="mid2">
        <div id="straw">
            <img src="Vegan/images/19.jpg" alt="">
        </div>
        <div id="follow">
            <div id="follow1">
                <h3>Follow Us</h3>
                <p>A wide range of products; many unusual and tasty products; courteous staff.</p>
                <input type="email" name="" id="email" placeholder="Your Email">
                <input type="submit" id="submit" placeholder="Subscribe">
            </div>

        </div>
    </section>
    <section id="stats">
        <div id="stats1">
            <div class="no">
                <h3>7</h3>
                <p>Year of experiences</p>
            </div>
            <div class="no">
                <h3>123k</h3>
                <p>Happy Customers</p>
            </div>
            <div class="no">
                <h3>72k</h3>
                <p>100% Satisfaction

                </p>
            </div>
            <div class="no">
                <h3>13k</h3>
                <p>Detox Smoothies

                </p>
            </div>
        </div>
    </section>
    <section id="video">
        <div id="video1">
            <h3>Vimeo Video</h3>
            <hr>
            <div id="i1">
                <iframe src="https://player.vimeo.com/video/275412279" frameborder="0"></iframe>
            </div>
        </div>

    </section>

    <section id="address">
        <div id="address1">
            <div id="left">
                <p class="contact">Contact Us

                </p>
                <h3 id="info">Address Information
                </h3>
                <p class="info1">Overeating is one of the most common causes of overweight and digestive problems.

                </p>
                <h4>London Store
                </h4>
                <p class="info1">Roeterseiland Campus Building E
                    6th floor London
                    Monday to Friday : 9am to 8pm
                    examplemail.mail.com</p>

                <h4>Berlin Store
                </h4>
                <p class="info1">Roeterseiland Campus Building E
                    6th floor London</p>
            </div>
            <div id="right">
                <p class="contact">Meet Our Team</p>
                <h3>Get In Touch</h3>
                <p class="info1">The task of proper nutrition - to remove from the diet harmful food and enrich it
                    useful.</p>
                <form action="">
                    <input type="text" placeholder="Name" class="form1">
                    <input type="number" placeholder="Phone" class="form1">
                    <input type="text" placeholder="subject" class="form1">
                    <input type="email" name="" id="" placeholder="Email" class="form1">
                    <input type="text" placeholder="Message" name="" id="" class="form1">
                    <input type="submit" name="" id="submit" itemid="" placeholder="Submit Now">
                </form>
            </div>
        </div>
    </section>
    <footer>
        © Copyright 2018 Mobirise - All Rights Reserved By <u>Shubham Katharotiya</u> 
    </footer>

</body>

</html>